#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{REQUEST_URI} ^/data(/.*|$)
#RewriteRule ^ - [F]

#RewriteCond %{REQUEST_URI} !\.php$
#RewriteRule ^util/api/(.+?)/?$ /util/api/$1.php [QSA,L]
